<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Allow us to introduce ourselves, we are MatchMe.com</h1>
    <p>
      You have been invited to sign up to MatchMe.com by one of your friends!
    </p>
    <p>MatchMe is a site that allows your friends to recommend partners for you.</p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Happy matching and have a great day!</p>
  </body>
</html>