<template name="signup">
  <form action="/sign-up" id="signUpForm" method="post">
    <input id="signUpName" name="name" placeholder="Name" type="text" >
    <input id="signUpAge" name="age" placeholder="Age" type="text" >
    <input id="signUpBio" name="bio" placeholder="Bio" type="text" >
    <input id="signUpLocation" name="location" placeholder="Location" type="text" >
    <input id="signUpGender" name="name" placeholder="Gender" type="text" >
    <input id="signUpEmail" name="email" placeholder="Email Address" type="text" >
    <input id="signUpPassword" name="password" placeholder="Password" type="password">
    <input id="signUpPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password">
    <input class="btn-submit" type="submit" value="Join Matchmaker!">
  </form>
</template>