<h3>Invite your friends</h3>
<%= form_tag '/invite' do %>
  <div><%= text_field_tag 'email', nil, :placeholder => 'enter friend\'s email here' %></div>
  <div><%= submit_tag 'invite' %></div>
<% end %>

