<p>Pending Friend Requests</p>
<% current_user.pending_friendships.each do |friendship| %>
  <%= form_tag user_friendship_path(id: friendship.id, user_id: current_user.id, friendship: { status: "approved" }), method: 'put' do %>
    <%= submit_tag friendship.user.name %>
  <% end %>
<% end %>

<h1>Friends List</h1>

<% @friends.each do |friend| %>
  <ul>
    <li><img src="<%= friend.picture_url %>"><%= friend.name %></li>
  </ul>
<% end %>