.message {
  margin-bottom: 10px;
}

a {
  color: #ff605d !important;
  text-decoration: none;
}

a:hover {
  color: #ff0703 !important;
}

#popupNested {
  position: fixed;
  top: 75px;
}

.twitter-typeahead {
  width: 100%;
}


.polaroid {
  position: relative;
  width: 220px;
}

.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
          padding-bottom: 5px;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #ff605d;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.bio {
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  font-family: 'Merriweather', serif;
  width: 60%;
}

h4.bio {
  color: #ff605d;
}
p.bio {
  text-indent: 15px;
}

.footer {
  padding-top: 10px !important;
}

div.ui-block-a {
  text-align: left;
}

div.ui-block-b {
  text-align: left;
}

.fa-users {
  margin-top: 5px;
}

.pair1 {
  float: left;
  color: #888;
  width: 49%;
  display: inline;
}

.pair2 {
  float: right;
  color: green;
  width: 49%;
  display: inline;
}

.pair1 img {
  width: 80%;
  margin: 0 auto;
}


.pair2 img {
  width: 80%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.voting-control {
  cursor: pointer;
  margin-top: 50px;
}

.vote-control-no {
  color: #888;
  border: 2px solid #888;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.vote-control-yes {
  color: rgb(156,184,107);
  border: 2px solid rgb(156,184,107);
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.voting-forms {
  display: none;
}

.pairing-title {
  font: 400 30px/1 'Kaushan Script';
  color: #ff605d;
}

.pairing-body {
  position: relative !important;
}

.header {
  height: 11%;
  position: fixed !important;
}

.ui-content {
  margin-top: 6px;
  min-height: 100%;
  color: #888;
}

.footer {
  padding: 0 !important;
  height: 10%;
  position: fixed !important;
  bottom: 0;
}

.logo-text {
  font-size: 3.5em;
}

@media screen and (min-height: 200px) {
  .fa-4x, .logo-text {
    font-size: 2em !important;
  }
  .fa-3x {
    margin-top: 2px;
    font-size: 1.5em !important;
  }
}

@media screen and (min-height: 400px) {
  .fa-4x, .logo-text {
    font-size: 3em !important;
  }
  .fa-3x {
    margin-top: 4px;
    font-size: 2.25em !important;
  }
}

@media screen and (min-height: 600px) {
  .fa-4x, .logo-text {
    font-size: 4em !important;
  }
  .fa-3x {
    margin-top: 5px;
    font-size: 3.5em !important;
  }
}

.site-red {
  color: #ff605d;
}

.notification {
  color: #F5F5F5;
  font-family: sans-serif;
  font-size: 1em;
  z-index: 100;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
}

ul.friends-list {
  list-style-type: none;
}
